parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/*/data/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false 